.heading-3 {
  display: inline;
}
.paragraph {
  font-size: 15rem;
  margin-right: 2rem;
}
.symbol {
  color: #fed766;
}
.equation {
  color: orangered;
}
.first-number {
  color: #fe4a49;
}
.second-number {
  color: #2ab7ca;
}
.secret {
  color: grey;
}
